//font
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//*Colors
$primary-color: #272727;
$secondary-color: #ff652f;
$text-color: #eee;
//path
$main-bgImage-path:"../images/model-1.jpg"